POSTGRES_USER="admin"
POSTGRES_PASSWORD="postgres_password"
POSTGRES_DB="postgres_db"
DATABASE_URL="postgresql://admin:postgres_password@localhost:5432/postgres_db"
BETTER_AUTH_SECRET="super_secret_key_for_better_auth"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000" # Should always be the same as BETTER_AUTH_URL for client-side usage
AUTH_GMAIL_EMAIL="pinesap.auth@gmail.com"
AUTH_GMAIL_PASSWORD="gmail-app-password" # Use an app password for Gmail authentication
NEXT_PUBLIC_ITEMS_PER_PAGE=10
